<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.ai.wizards</id>
    <name><![CDATA[AI.Wizard]]></name>
    <active>yes</active>
    <hidden>no</hidden>
    <version>1.0</version>
    <env-version>10.0~</env-version>
    <jartime>2023-07-01</jartime>
    <vendor>ai.wizards团队成员</vendor>
    <description><![CDATA[AI.Wizard]]></description>
    <change-notes><![CDATA[
     <p>v1.0：初始版本</p>
    ]]></change-notes>
    <lifecycle-monitor class="com.fr.ai.wizards.AIWizardsLifecycle"/>
    <function-recorder class="com.fr.ai.wizards.AIWizardsLifecycle"/>
    <extra-decision>
        <ControllerRegisterProvider class="com.fr.plugin.platform.debug.resources.PlatformDebugControllerBridge"/>
        <WebResourceProvider class="com.fr.ai.wizards.AIWizardsWebResource"/>
    </extra-decision>
</plugin>
